/*body {
  background-color: #fefbd8;
}

h1 {
  background-color: #80ced6;
}
*/

body{
	box-sizing : border-box;
	font-family : Arial, Helevtica, sans-serif;
	background-color : #eeeae4;
	 }